<header>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-end mt-5 mb-5">
      <div class="d-flex">
        <form class="d-flex justify-content-end">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchInput>
          <button (click)="handleSearchClick(searchInput.value)" class="btn btn-outline-dark" type="button">Search</button>
        </form>
        <a (click)="redirectToForm()" *ngIf="!isSign"  class="btn btn-warning ms-5">Sign In</a>
        <a (click)="redirectToCart()" *ngIf="isSign" class="btn btn-dark ms-5">
          Cart:{{cartData?.[0]?.items?.length}}</a>        
          <a (click)="signOut()" *ngIf="isSign" class="btn btn-warning ms-5">Sign Out</a>
          <button class="btn btn-success" style="margin-left:100px;" (click)="redirectToPopularProduct()">Popular products</button>
          <p *ngIf="isSign" class="bg-dark text-light rounded ms-5 text-capitalize px-3 py-0">Hello, {{loginUserData?.data?.name}} 🖐️</p>
          <!-- <div >
          </div> -->
        <!-- <a (click)="redirectToCart()" class="btn btn-dark ms-5">Cart:{{cartData?.[0]?.items.length}}</a> -->
      </div>
    </nav>
   </div>
</header>


<!-- <header>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-end mt-5 mb-5">
      <div class="d-flex">
        <form class="d-flex justify-content-end">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchInput>
          <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-success" type="submit">Search</button>

        </form>
        <a routerLink="registration" class="btn btn-warning ms-5">Sign Up!</a>
        <a routerLink="cart" class="btn btn-dark ms-5">Cart</a>

      </div>
    </nav>
   </div>
</header> -->

<!-- <a routerLink="cart" class="btn btn-dark ms-5">Cart:{{cartData[0]?.items.length}}</a> -->
<!-- <h4>{{cartData[0]?.items.length}}</h4> -->





















<!-- <header>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-end mt-5 mb-5">
      <div class="d-flex">
        <form class="d-flex justify-content-end">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery">
          <button (click)="submitSearch()" class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a routerLink="registration" class="btn btn-warning ms-5">Sign Up!</a>
        <a routerLink="cart" class="btn btn-dark ms-5">Cart</a>
      </div>
    </nav>
  </div>
</header> -->



<!-- <header>

  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-end mt-5 mb-5">
      <div class="d-flex">
        <form class="d-flex justify-content-end" (ngSubmit)="searchProducts()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">

          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <a routerLink="registration" class="btn btn-warning ms-5">Sign Up!</a>
        <a routerLink="cart" class="btn btn-dark ms-5">Cart</a>
      </div>
    </nav>

   </div>

</header> -->



























<!-- <header>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-end mt-5 mb-5">
      <div class="d-flex">
        <form class="d-flex justify-content-end" (ngSubmit)="searchForm.submit()">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchTerm"
            #searchForm="ngForm"
          >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a routerLink="registration" class="btn btn-warning ms-5">Sign Up!</a>
        <a routerLink="cart" class="btn btn-dark ms-5">Cart</a>
      </div>
    </nav>
  </div>
</header> -->
