<table>
  <thead>
    <tr class="border border-4">
      <th>No.</th>
      <th>User Name</th>
      <th>Product Name</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderData?.orders; let i = index">
      <td class="border border-4">{{ i + 1 }}.</td>
      <td class="border border-4">{{ order?.userId?.name }}</td>
      <td class="border border-4">
        <ul>
          <li
            class="border border-3"
            *ngFor="let item of order?.items; let j = index"
          >
            {{ item?.productId?.name }}
          </li>
        </ul>
      </td>
      <td class="border border-4">
        <ul>
          <li class="border border-3" *ngFor="let item of order?.items">
            {{ item?.productId?.stock }}
          </li>
        </ul>
      </td>
      <td class="border border-4">
        <ul>
          <li class="border border-3" *ngFor="let item of order?.items">
            {{ item?.price | currency : "INR" }}
          </li>
        </ul>
      </td>
      <td class="border border-4">
        <ul>
          <li class="border border-3" *ngFor="let item of order?.items">
            {{ item?.quantity }}
          </li>
        </ul>
      </td>

      <td class="border border-4">
        <ul>
          <li class="border border-3" *ngFor="let item of order?.items">
            <select
              [(ngModel)]="item.status"
              (ngModelChange)="updateItemStatus(order._id, item._id)"
            >
              <option value="pending">pending</option>
              <option value="confirm">confirm</option>
            </select>
            <button class="btn btn-danger ms-3" (click)="cancelItem(order._id, item._id)">Cancel</button>
            <!-- <button class="btn btn-danger ms-3" (click)="cancelItem()">Cancel</button> -->
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
