
<!-- 2 -->
<app-header></app-header>
<div *ngIf="cartData">
  <h4 class="text-start mx-4 text-decoration-underline">Shopping Cart</h4>
  <p class="d-flex justify-content-end my-0 mx-2">Subtotal ({{ cartData && cartData[0]?.items?.length }} items): &#x20b9;<span><h5>{{ totalPrice?.totalPrice }}</h5></span></p>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Proceed to Buy
    </button>
  </div>
  <div class="row" *ngIf="cartData[0]?.items?.length > 0">
    <div class="col-md-2 m-lg-4" *ngFor="let item of cartData[0]?.items">
      <div class="card mb-3">
        <div class="post-image">
          <img class="img-fluid" [src]="'http://localhost:5000/uploads/' + item?.productId?.image" />
        </div>
        <div class="card-body">
          <h5 class="card-title">Product Name: {{ item?.productId?.name }}</h5>
         
          <p class="card-text">Price: {{ item.productId.price }}</p>
          <p>Colour: {{ item?.productId?.colour }}</p>

          <!-- Display "Out of Stock" message when stock is 0 -->
          <p *ngIf="item?.productId?.stock === 0" class="text-danger">Out of Stock</p>

          <!-- Display quantity, delete, and buy now buttons only when in stock -->
          <ng-container *ngIf="item?.productId?.stock > 0">
            <label for="quantity">Quantity:</label>
            <select id="quantity" [(ngModel)]="item.quantity" (change)="updateCartItem(item)">
              <option *ngFor="let quantity of quantities" [value]="quantity">
                {{ quantity }}
              </option>
            </select>
            
            <p>Stock: {{ item?.productId?.stock }}</p>
            <div class="d-flex">
              <button class="btn btn-danger" (click)="removeItemFromCart(item?.id)">Delete</button>
              <div *ngIf="isUpdate" class="mx-5">
                <button class="btn btn-success">Buy Now</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-dark mx-4" (click)="goBack()">Back</button>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <h5 class="modal-body text-center text-capitalize">
       Are you Sure?
      </h5>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Deny</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="confirmOrder(cartData[0]._id)">Confirm</button>
      </div>
    </div>
  </div>
</div>


<!-- <div *ngIf="cartData">
  <h2>Cart Data</h2>
  <ul>
    <li *ngFor="let item of cartData[0]?.items">
      <img class="img-fluid" [src]="'http://localhost:5000/uploads/' + item.productId.image" >

      <p>Product Name: {{ item.productId.name }}</p>
      <p>Price: {{ item.productId.price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p>Colour: {{ item.productId.colour }}</p>

    </li>
  </ul>
</div> -->

<!-- <app-header></app-header> 1
<div *ngIf="cartData">
  <h4 class="text-start mx-4 text-decoration-underline">Shopping Cart</h4>
  <p class="d-flex justify-content-end my-0 mx-2">Subtotal ({{cartData && cartData[0]?.items?.length}} items): &#x20b9;<span><h5>{{totalPrice?.totalPrice}}</h5></span></p>
  <div class="d-flex justify-content-end"> -->
<!-- <button class="btn btn-warning">Proceed to Buy</button> -->
<!-- <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Proceed to Buy
</button>
</div>  
  <div class="row" *ngIf="cartData[0]?.items?.length > 0">
    <div class="col-md-2 m-lg-4" *ngFor="let item of cartData[0]?.items">
      <div class="card mb-3">
        <div class="post-image">
          <img
            class="img-fluid"
            [src]="'http://localhost:5000/uploads/' + item?.productId?.image"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Product Name: {{ item?.productId?.name }}</h5>
          <p class="card-text">
            Price: {{ item.productId.price * item?.quantity }}
          </p>
          <p class="card-text">
            Price: {{ item.productId.price }}
          </p>

          
          <label for="quantity">Quantity:</label>
          <select
            id="quantity"
            [(ngModel)]="item.quantity"
            (change)="updateCartItem(item)"
          >
            <option *ngFor="let quantity of quantities" [value]="quantity">
              {{ quantity }}
            </option>
          </select>
          <p>Colour: {{ item?.productId?.colour }}</p>
          <p>Stock: {{ item?.productId?.stock }}</p> -->
          <!-- <p>Colour: {{ item.id }}</p> -->
          <!-- <div class="d-flex">
          <button
            class="btn btn-danger"
            (click)="removeItemFromCart(item?.id)"
          >
            Delete
          </button>
          <div *ngIf="isUpdate" class="mx-5">
            <button class="btn btn-success">Buy Now</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-dark mx-4" (click)="goBack()">Back</button> -->



















<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->
<!-- <label for="quantity">Quantity:</label>
          <div *ngIf="!item.editQuantity">
            <select
              id="quantity"
              [(ngModel)]="item.quantity"
              (change)="onQuantityChange(item)"
            >
              <option *ngFor="let quantity of quantities" [value]="quantity">
                {{ quantity === 5 ? '5+' : quantity }}
              </option>
            </select>
          </div>
          <div *ngIf="item.editQuantity">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="item.quantity"
            />
            <button class="btn btn-primary" (click)="updateCartItem(item)">
              Update
            </button>
          </div> -->

<!-- <p class="card-text">Quantity: {{ item.quantity }}</p> -->
<!-- Dropdown for Quantity -->
<!-- <label for="quantity">Quantity:</label>
          <select id="quantity" [(ngModel)]="item.quantity" (change)="quantityChanged(item)">
            <option *ngFor="let quantity of quantities" [value]="quantity">{{ quantity }}</option>
            <option [value]="-1">Other</option>
          </select>

          <div *ngIf="item.quantity === -1">
            <label for="customQuantity">Custom Quantity:</label>
            <input
              type="number"
              id="customQuantity"
              [(ngModel)]="item.customQuantity"
              (change)="quantityChanged(item)"
              min="1"
            />
          </div> -->
<!-- <button class="btn btn-danger" (click)="getItemsId(item.id)">Delete</button> -->

<!-- <p>cartpage works!</p> -->
<!-- <app-header></app-header> -->
<!-- <ng-container *ngIf="cartdetail">
  <div class="card mb-3" style="max-width: 540px; margin-left: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid" [src]="'http://localhost:5000/uploads/' + cartdetail.image" [alt]="cartdetail.name">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Name:{{ cartdetail?.name }}</h5>
          <p class="card-text">Description:{{ cartdetail?.description }}</p>
          <p class="card-text">Brand: {{ cartdetail?.brand }}</p>
          <p class="card-text">Price: {{ cartdetail?.price }}</p>
          <p class="card-text">Category: {{ cartdetail?.category }}</p>
          <p class="card-text">Guarantee: {{ cartdetail?.guarantee }}</p>
          <div class="col">
            <div ngbDropdown class="d-inline-block" placement="bottom-right">
              <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                Quantity:{{ selectedQuantity }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="selectedQuantity = 1">1</button>
                <button ngbDropdownItem (click)="selectedQuantity = 2">2</button>
                <button ngbDropdownItem (click)="selectedQuantity = 3">3</button>
                <button ngbDropdownItem (click)="selectedQuantity = 4">4</button>
                <button ngbDropdownItem (click)="selectedQuantity = 5">5+</button>
              </div>
            </div>
            <ng-container *ngIf="selectedQuantity >= 5">
              <input type="number" [(ngModel)]="selectedQuantity" min="5" class="form-control mt-2" placeholder="Enter quantity">
            </ng-container>
            <ng-container *ngIf="selectedQuantity <= 0">
              <input type="number" [(ngModel)]="selectedQuantity" class="form-control mt-2" placeholder="Enter quantity">
            </ng-container>
          </div>
          <p class="card-text">Subtotal ({{ selectedQuantity }} item):{{cartdetail?.price * selectedQuantity}}</p>
          <a class="btn btn-dark my-2" (click)="redirectToRegistration()">Place Order</a>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<!-- <div class="card mb-3" style="max-width: 540px; margin-left: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-fluid" [src]="'http://localhost:5000/uploads/' + cartdetail.image" [alt]="cartdetail.name">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">Name:{{ cartdetail?.name }}</h5>
        <p class="card-text">Description:{{ cartdetail?.description }}</p>
        <p class="card-text">Brand: {{ cartdetail?.brand }}</p>
        <p class="card-text">Price: {{ cartdetail?.price }}</p>
        <p class="card-text">Category: {{ cartdetail?.category }}</p>
        <p class="card-text">Guarantee: {{ cartdetail?.guarantee }}</p>
        <div class="col">
          <div ngbDropdown class="d-inline-block" placeme nt="bottom-right">
            <button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
              Quantity:{{ selectedQuantity }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="selectedQuantity = 1">1</button>
              <button ngbDropdownItem (click)="selectedQuantity = 2">2</button>
              <button ngbDropdownItem (click)="selectedQuantity = 3">3</button>
              <button ngbDropdownItem (click)="selectedQuantity = 4">4</button>
              <button ngbDropdownItem (click)="selectedQuantity = 5">5+</button>
            </div>
          </div>
          <ng-container *ngIf="selectedQuantity >= 5">
            <input type="number" [(ngModel)]="selectedQuantity" min="5" class="form-control mt-2" placeholder="Enter quantity">
          </ng-container>
            <ng-container *ngIf="selectedQuantity <= 0">
            <input type="number" [(ngModel)]="selectedQuantity" class="form-control mt-2" placeholder="Enter quantity">
          </ng-container>
        </div>
        <p class="card-text">Subtotal ({{ selectedQuantity }} item):{{cartdetail?.price * selectedQuantity}}</p>
        <a class="btn btn-dark my-2" (click)="redirectToRegistration()">Place Order</a>
      </div>
    </div>
  </div>
</div> -->
<!-- <button class="btn btn-dark ms-5">Back</button> -->
<!-- <p>Selected Quantity: {{ selectedQuantity }}</p> -->
<!-- <button class="btn btn-primary">Place Order</button> -->

<!--  -->
